header{
    width: 100%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    form input{
        font-size: 18px;
        text-align: center;
    }
    form input[type='submit']{
        margin: 2% 40%;
        cursor: pointer;
    }
    form input[type='submit']:hover{
        background-color: white;
    }
}

table{
    margin: 2% auto;
    line-height: 0;
    border-spacing: 0;
    tr{
        
    }
    td{ 
        padding:0;
    }
}
#gameOver{
    display: none;
    margin:0 auto;
    font-size:24px;


    button{
        font-size: 24px;
        cursor: pointer;
    }
    button:hover{
        background-color: white;
    }
}
#youWon{
    display: none;
    margin:0 auto;
    font-size:24px;


    button{
        font-size: 24px;
        cursor: pointer;
        margin-left: 35%;
    }
    button:hover{
        background-color: white;
    }
}